# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json


# Environment variables
.env

# SQLite database
*.db


# Logs
*.log

# OS files
.DS_Store
Thumbs.db
